'global':
  'editor':
    'showIndentGuide': true
    'fontSize': 12
    'invisibles': {}
    'fontFamily': 'DejaVu Sans Mono'
  'core':
    'ignoredNames': [
      '.bundle'
      '.git'
      'log'
      'repositories'
      'tmp'
      'vendor'
    ]
    'hideGitIgnoredFiles': true
    'disabledPackages': [
      'background-tips'
      'exception-reporting'
      'metrics'
    ]
    'themes': [
      'yosemite-unity-ui'
      'base16-tomorrow-dark-theme'
    ]
  'spell-check':
    'grammars': [
      'text.plain'
      'source.gfm'
      'text.git-commit'
    ]
  'welcome':
    'showOnStartup': false
  'release-notes':
    'viewedVersion': '0.89.0'
